@model ShoppingCartViewModel
@{
    ViewBag.Title = "Checkout";
}

@{
    var offset = Model.Pizzas.Count == 1 ? 4 : 0;
}

<br />

@if (!Model.Pizzas.Any())
{
    <h2 class="text-center">No Pizzas In Cart.</h2>
}
else
{
    <h2 class="text-center">Your Cart</h2>

    <br />

    using (Html.BeginForm("FinishOrder", "Orders", new { totalPrice = Model.TotalPrice }, FormMethod.Post))
    {
        <div class="row">
            @foreach (var pizza in Model.Pizzas)
            {
                <div class="col-sm-4 offset-@offset" style="padding-bottom: 20px">
                    <div class="card" style="height: 100%">
                        <img class="card-img-top" src="@pizza.PictureUrl" alt="@(pizza.Name + " image")">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-center">Name: @pizza.Name</h5>
                            <p class="card-text text-center"><strong>Description: </strong>@pizza.Description</p>
                            <p class="card-text text-center"><strong>Price: </strong>@pizza.Price.ToPrice() &euro;</p>
                        </div>
                    </div>
                </div>
            }
        </div>

        <br />

        <div class="text-center">
            <h2>Total Price: @Model.TotalPrice.ToPrice() &euro;</h2>
        </div>

        <br />

        <div class="text-center">
            <input type="submit" value="Finish Order" class="btn btn-lg btn-success" />
        </div>
    }
}
